# scanpy
scanpy[leiden]>=1.10.0
louvain>=0.8.2
# Fast TSNE implementation.
MulticoreTSNE>=0.1
# Parameterizing, executing, and analyzing Jupyter Notebooks.
papermill>=2.6.0
# IPython kernel.
ipykernel>=6.29.0
